<!DOCTYPE html>
<html>
<head>
	<title>LOGIN Page</title>
	<link rel="stylesheet" type="text/css" href="../CSSAdmin/loginstyle.css">
</head>
<body>
    <form method="post" action="../controller/AdminLoginCheck.php"> 
		
        <table border="3" align="center" hight='400'width="350px">

          

              <tr>
                 
                  <td>
                          <legend ><b>LOGIN</b><hr/></legend>
          
                  <table>
                     
                      <tr >
                          <label ><td><b>UserId:</b></td></label>
                          <td><input type="text"  name="userid" value="" placeholder="Enter Your Id"></td>
                        </tr>
                      <tr >
                         <label><td><b>Password:</b></td></label> 
                          <td><input type="password"  name="password1" value="" placeholder="Enter Your Password"></td>
                      </tr>
                      
                      
                      <tr>
                          <td ><input class="c1" type="submit" name="submit" value="Login"></td>
                      
                   </table>
                  </td>
              </tr>
          </table>

  </form>