<!DOCTYPE html>
<html>
<head>
	<title>Search Patient</title>
	<link rel="stylesheet" type="text/css" href="../CSSAdmin/searchPatient.css">
</head>
<body>


 Patient Name:
	<input  type="text" name="name" id="name" value="">

    <input type="button" name="Search" id="Search" value="Search" onclick="ajax()">

<b><a href="AdminHome.php">Back</a></b>
<b><a href="../controller/logout.php">LogOut</a></b>
	<div id="d1">
    	
    </div >
   



    <script type="text/javascript" src="script1.js"></script> 
</body>
</html>