.t1{

    
	color:red;
	font-size: 30px;
	background-color:black;
}

.t2{

font-size: 20px;
	
}

table{
	background-color: rgba(255, 0.4, 0.4, 0.4);
	text-align: left

}

body
{
	background-color:green;
}

